%FlexColumn {
  display: flex;
  flex-direction: column;
}
body {
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
  padding-bottom: 8rem;
}
.MainContainer {
  background: #161823;
  min-height: 100vh;
  max-height: max-content;
}
@media only screen and (min-width: 500px) {
  body {
    padding-bottom: 4rem;
  }
}
.FeedContainer {
  @extend %FlexColumn;
  width: 100%;
}
.FeedItem {
  position: relative;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}

.Upper {
  @extend %FlexColumn;
  position: relative;
  align-items: center;
}

.LinearGrad {
  top: 65%;
  position: absolute;
  height: 15rem;
  width: 120%;
  left: -10%;
  transform: rotate(15deg);
  background-image: linear-gradient(
    -45deg,
    rgba(80, 80, 252, 0.418),
    rgba(250, 79, 79, 0.432)
  );
  z-index: 1;
}

.Title {
  z-index: 1;
  color: rgb(216, 216, 216);
  font-size: 60px;
  font-weight: 500;
  text-align: left;
  width: 100%;
  padding: 0 25% 0 5%;
  box-sizing: border-box;
  margin-top: 70%;
}

.Lower {
  position: relative;
  padding: 0 5% 0 5%;
  box-sizing: border-box;
  margin-top: 5%;
  background: linear-gradient(rgba(255, 0, 0, 0) 15%, #161823 15% 100%);
  height: max-content;
}
.Preview {
  position: relative;
  z-index: 5;
  padding-top: 2%;
  color: rgb(190, 190, 190);
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 5%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.AuthorDate {
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: rgb(190, 190, 190);
  font-size: 1.2rem;
}
.Name {
  color: rgb(226, 226, 226);
}
.Date {
  color: rgb(226, 226, 226);
}

.Likes {
  display: flex;
  padding-top: 5%;
  align-items: center;
  padding-bottom: 5%;
}
.LikeImages {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 7px;
}

.LikeCount {
  background-color: #fd51d9;
  border-radius: 30%/50%;
  padding: 3px 5px;
  color: white;
  margin: 7px;
}
.LikedThis {
  color: rgb(145, 145, 145);
}
