.navbar {
  display: flex;
  justify-content: space-between;
  background: #1d1f2b;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 40rem;
  z-index: 5;
}

.navItem {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItem:hover {
  cursor: pointer;
}
.navImg {
  height: 50%;
  width: 50%;
}
@media only screen and(min-width:500px) {
  .navbar {
    height: 4rem;
  }
}
