.Statistic {
  display: flex;
  flex-direction: column;
  background: #161823;
  width: 100%;
  padding-bottom: 8rem;
  position: relative;
}

.GoBack_LogoCont {
  display: flex;
  justify-content: center;
  margin: 5rem 2rem 2rem 2rem;
}
.DiagramClickInfo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DiagramClickInfo:hover {
  cursor: pointer;
}
.DiagramClickInside {
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.GoBack {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 0.5rem;
  z-index: 11;
}
.Logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.4rem;
}
.LogoImg {
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
}
.Months {
  margin-top: 2rem;
  display: flex;
  width: max-content;
  background: #0e0f1a;
  position: relative;
}
.Month {
  padding: 1rem;
  margin: 0 1rem;
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: relative;
  border-radius: 5px;
}
.Month:hover {
  cursor: pointer;
  background: rgb(120, 166, 252);
}

.MonthsContainer {
  overflow-x: scroll;
}
.Chart {
  display: flex;
  justify-content: center;
  margin: 4rem auto 2rem auto;
  width: fit-content;
}

.Circle {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background: #0e0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Circle1 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #161823;
}
.DataInfoCont {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(236, 236, 236);
  margin-bottom: 2rem;
  height: 4rem;
}
.DataInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.DataName {
  color: rgb(223, 223, 223);
  font-size: 1.5rem;
}
.CenterBalance {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
}
.BalanceNumber {
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}
.DecimalPortion {
  font-size: 0.7rem;
}
.DecimalPortionIncomeExpense {
  padding: 3px 0;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 3px;
}
.Balance {
  color: rgb(163, 163, 163);
  font-size: 1.1rem;
  padding-top: 5px;
}
.IncomeExpense {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Income {
  padding: 0.5rem 0.7rem;
  border-radius: 5%;
  border: 1px solid rgb(112, 112, 255);
  margin: 1rem 2rem;
  font-size: 2rem;
  color: white;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.Expense {
  padding: 0.5rem 0.7rem;
  border-radius: 5%;
  border: 1px solid rgb(255, 100, 100);
  margin: 1rem 2rem;
  font-size: 2rem;
  color: white;
  box-sizing: border-box;
  position: relative;
  display: flex;
}
.YouNeedToSignIn {
  padding: 5px;
  font-size: 1.5rem;
  color: rgb(255, 110, 110);
  margin: 3rem auto;
}

.AddData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  width: 100%;
}

%Message {
  display: flex;
  flex-direction: column;
  width: 90%;
  color: rgb(81, 190, 81);
  font-size: 1.3rem;
  align-items: center;
}
.IncomeInputCont {
  @extend %Message;
  border-bottom: 1px solid rgb(255, 138, 138);
  padding-bottom: 2rem;
}
.AddYourSpendings {
  @extend %Message;
}
.GoBack:hover {
  cursor: pointer;
}

.DataAddCont {
  display: flex;
  margin: 2rem;
  color: rgb(0, 30, 128);
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(170, 170, 255);
  box-sizing: border-box;
  position: relative;
}
.IncomeInput {
  height: 2rem;
  font-size: 1.5rem;
  padding: 2px;
  width: 50%;
  margin: 2rem;
}
.DataAddValueCont {
  position: relative;
  display: flex;
}
.AddAnotherValue {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  height: 70%;
}
.AddAnotherValue:hover {
  cursor: pointer;
}
.SecondValueInputCont {
  position: relative;
}
.DataAddNameCont {
  display: flex;
  margin: 1rem;
  justify-items: center;
}
.DataAddNameInput {
  height: 2rem;
  font-size: 1.1rem;
  width: 100%;
}
.AddData input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 0.5rem;
}
.AddAnotherMonthData {
  display: flex;
  justify-content: center;
}
.AddAnotherMonthData:hover {
  cursor: pointer;
}
.ChangeDataEntries {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.ChangeDataEntriesButton {
  background: rgba(135, 241, 135, 0.137);
  color: white;
  font-size: 1.3rem;
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem;
  border: 0;
}
.ChangeDataEntriesButton:hover {
  background: rgb(133, 248, 133);
  cursor: pointer;
}
.SubmitButton:hover {
  cursor: pointer;
}

.DeleteDataEntry {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.DeleteDataEntry:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 3px;
  width: 10px;
}
::-webkit-scrollbar {
  height: 5px;
}

@media only screen and (min-width: 500px) {
  .Month {
    font-size: 20px;
  }
  .GoBack {
    height: 1.5rem;
    width: 1.5rem;
  }
  .LogoImg {
    height: 1.5rem;
    width: 1.5rem;
  }
  .Income {
    padding: 1rem 1.5rem;
  }
  .Expense {
    padding: 1rem 1.5rem;
  }
  ::-webkit-scrollbar {
    height: 10px;
  }
}
