.AuthenticationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: auto;
  color: rgb(94, 185, 94);
  font-size: large;
  text-align: center;
  position: relative;
}

.PleaseEnter {
  margin: 5rem 1rem;
}
%loginpsw {
  margin: 2rem auto;
}
.Login {
  @extend %loginpsw;
}
.Password {
  @extend %loginpsw;
}

.Input {
  height: 3rem;
  width: 95%;
  padding: 2px 2rem;
  font-size: 1.5rem;
  box-sizing: border-box;
  color: rgb(92, 92, 92);
}
.SubmitButton {
  background: rgb(81, 63, 247);
  border-radius: 5%;
  width: 7rem;
  height: 3rem;
  margin: 2rem;
  color: rgb(174, 223, 255);
  font-size: 1.5rem;
  padding: 0;
}
.ShowUserName {
  background: rgb(255, 255, 255);
  color: rgb(104, 144, 255);
  text-align: center;
  border-radius: 2px;
  font-size: 1.5rem;
}
.ProfilePicCont {
  position: fixed;
  top: 1.5rem;
  z-index: 20;
}
.LoggedIn {
  margin: 4rem 2rem 2rem 2rem;
  font-size: 1.3rem;
}
.LogOut {
  background: rgb(255, 147, 147);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  margin: 1rem;
}
.LogOut:hover {
  cursor: pointer;
}
.ErrorMessage {
  height: 2rem;
  text-align: center;
  color: red;
  font-size: 1.3rem;
}
.AbsProfilePic {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
@media only screen and(min-width:500px) {
  .AuthenticationContainer {
    width: 70%;
  }
}
.ProfilePic {
  width: 100%;
}
